body {
    font-family: "Roboto", "Raleway" sans-serif;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style-type: none;
}

button {
    cursor: pointer;
}

/* region Header */
.header-page {}

.nav-page {}

.logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 0px;
    width: 115px;
    height: 24px;
}

.nav-list {}

.nav-item {}

.nav-item-link {}

/*   */